In [1]:
#------>PANDAS SERIES AND DATAFRAMES

#SERIES:      |------> UNI DIMENTIONAL
#1.From of sequentially one-dimentional arrays
#2.All elements one data types
#3.Can be created from lists,tuples and arrays

In [6]:
#DATAFRAMES:    |----->TWO DIMENTIONAL
## TWO DIMENTIONAL DATA STRUCTURES THAT CAN STORE VATIOUS TYPES OF DATA

In [7]:
import pandas as pd

In [8]:
pd.Series(["S","A","N","T","H","O","S","H"])

0    S
1    A
2    N
3    T
4    H
5    O
6    S
7    H
dtype: object

In [9]:
import numpy as np

In [10]:
pd.Series(np.array(["S","A","N","T","H","O","S","H"]))

0    S
1    A
2    N
3    T
4    H
5    O
6    S
7    H
dtype: object

In [14]:
ben=pd.Series(np.array(["S","A","N","T","H","O","S","H"]))
type(ben)

pandas.core.series.Series

In [15]:
ben

0    S
1    A
2    N
3    T
4    H
5    O
6    S
7    H
dtype: object

In [35]:
dic_1={"P":1,"Y":2,3:"T","H":4,"O":5,"N":6}
pd.Series(dic_1)

P    1
Y    2
3    T
H    4
O    5
N    6
dtype: object

In [36]:
type(dic_1)

dict

In [44]:
list_1=["02-05-2003",5.7,"SANTHOSH",57,"IIITN",26]
pd.Series(list_1)

0    02-05-2003
1           5.7
2      SANTHOSH
3            57
4         IIITN
5            26
dtype: object

In [45]:
list_1.index

In [50]:
pd.DataFrame({"Name":["SANTHOSH","DURGA","MADHU","BABU"],
              "AGE":[19,18,17,20],
              "SEX":["MALE","MALE","MALE","MALE"],
              "STATE":["HYD","NAGPUR","JAIPUR","CHENNAI"]})

       Name  AGE   SEX    STATE
0  SANTHOSH   19  MALE      HYD
1     DURGA   18  MALE   NAGPUR
2     MADHU   17  MALE   JAIPUR
3      BABU   20  MALE  CHENNAI

In [51]:
pd.DataFrame({"Name":["SANTHOSH","DURGA","MADHU","BABU"],
              "AGE":[19,18,17,20],
              "SEX":["MALE","MALE","MALE","MALE"],
              "STATE":["HYD","NAGPUR","JAIPUR","CHENNAI"]})

       Name  AGE   SEX    STATE
0  SANTHOSH   19  MALE      HYD
1     DURGA   18  MALE   NAGPUR
2     MADHU   17  MALE   JAIPUR
3      BABU   20  MALE  CHENNAI

In [52]:
x=pd.DataFrame({"Name":["SANTHOSH","DURGA","MADHU","BABU"],
              "AGE":[19,18,17,20],
              "SEX":["MALE","MALE","MALE","MALE"],
              "STATE":["HYD","NAGPUR","JAIPUR","CHENNAI"]})

In [53]:
type(x)

pandas.core.frame.DataFrame

In [54]:
x['AGE']

0    19
1    18
2    17
3    20
Name: AGE, dtype: int64

In [55]:
x["Name"]

0    SANTHOSH
1       DURGA
2       MADHU
3        BABU
Name: Name, dtype: object

In [58]:
x["SEX"]

0    MALE
1    MALE
2    MALE
3    MALE
Name: SEX, dtype: object

In [59]:
x["AGE"][2]

17

In [64]:
x["Name"][2]

'MADHU'

In [65]:
x.columns

Index(['Name', 'AGE', 'SEX', 'STATE'], dtype='object')

In [67]:
x

       Name  AGE   SEX    STATE
0  SANTHOSH   19  MALE      HYD
1     DURGA   18  MALE   NAGPUR
2     MADHU   17  MALE   JAIPUR
3      BABU   20  MALE  CHENNAI

In [78]:
ser1=pd.Series([0,1,2,100,4],index=[1,2,89798,4,5])
ser2=pd.Series([0,1,8908,3,4],index=[1,2,3,4,5])

In [79]:
ser1

1          0
2          1
89798      2
4        100
5          4
dtype: int64

In [80]:
ser2

1       0
2       1
3    8908
4       3
5       4
dtype: int64

In [81]:
ser1+ser2

1          0.0
2          2.0
3          NaN
4        103.0
5          8.0
89798      NaN
dtype: float64

In [82]:
type(ser1)

pandas.core.series.Series

In [91]:
ser1=pd.Series(["Name","Roll No:","Class","Age","Branch"],index=[1,2,89798,4,5])

In [92]:
ser1

1            Name
2        Roll No:
89798       Class
4             Age
5          Branch
dtype: object

In [94]:
ser1=pd.Series([1,2,89798,4,5],index=["Name","Roll No:","Class","Age","Branch"])

In [95]:
ser1

Name            1
Roll No:        2
Class       89798
Age             4
Branch          5
dtype: int64

In [97]:
ser2=pd.Series([1,2,66,4,5],index=["Name","Roll No:","Class","Age","Branch"])

In [98]:
ser2

Name         1
Roll No:     2
Class       66
Age          4
Branch       5
dtype: int64

In [99]:
ser1+ser2

Name          2
Roll No:      4
Class       132
Age           8
Branch       10
dtype: int64

In [100]:
ser1.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of Name         1
Roll No:     2
Class       66
Age          4
Branch       5
dtype: int64>

In [101]:
ser2.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of Name         1
Roll No:     2
Class       66
Age          4
Branch       5
dtype: int64>

In [102]:
ser2.mean()

15.6

In [103]:
ser1.median

<bound method NDFrame._add_numeric_operations.<locals>.median of Name         1
Roll No:     2
Class       66
Age          4
Branch       5
dtype: int64>

In [104]:
ser2.mode()

0     1
1     2
2     4
3     5
4    66
dtype: int64

In [105]:
ser2.sum()

78

In [106]:
ser1.median()

4.0

In [107]:
ser2.median()

4.0

In [108]:
ser2+ser1

Name          2
Roll No:      4
Class       132
Age           8
Branch       10
dtype: int64

In [109]:
ser1.var()

796.3

In [111]:
ser1.max()

66

In [112]:
ser2.max()

66

In [113]:
ser1.sort_values()

Name         1
Roll No:     2
Age          4
Branch       5
Class       66
dtype: int64

In [114]:
ser2.sort_values()

Name         1
Roll No:     2
Age          4
Branch       5
Class       66
dtype: int64

In [115]:
ser1
ser2

Name         1
Roll No:     2
Class       66
Age          4
Branch       5
dtype: int64

In [116]:
ser2.std()

28.218788067526926

In [117]:
ser2+ser1

Name          2
Roll No:      4
Class       132
Age           8
Branch       10
dtype: int64

In [118]:
ser3=pd.Series([9,8,7],name="roll no")

In [119]:
plus_10=lambda x:x+10

In [120]:
plus_10(5)

15

In [121]:
plus_10(3947894734*78989)

311840257143936

In [122]:
ser3.apply(lambda x:x/10)

0    0.9
1    0.8
2    0.7
Name: roll no, dtype: float64

In [123]:
type(ser3)

pandas.core.series.Series

In [124]:
ser3

0    9
1    8
2    7
Name: roll no, dtype: int64